html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5em;
}

p {
    position: absolute;
    bottom: 0;
}

h1 {
    display: none;
}

input {
    display: block;
    font-size: 5em;
    text-align: center;
    border: none;
}