html, body {
    height: 100%;
}

body {
    display: flex; /* Barna til body skal følge flexbox-reglene. */
    justify-content: center;
    align-items: center;
}

div {
    width: 500px;
    height: 500px;
    background-color: blue;
    border: 3px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.indreBoks {
    width: 200px;
    height: 200px;
    background-color: rgb(166, 166, 166);
    border: 3px solid rgb(200, 255, 0);
}