html, body {
    height: 100%;
    margin: 0;
    height: 0;
}

body {
    position: relative;
}

div {
    position: absolute;
}

#spiller {
    width: 100px;
    height: 100px;
    background-color: green;

    position: absolute;
    top: 400px;
    left: 300px;
}